  html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden; 
        }
        table {
            width: 100%;           
            height: 100%;
            table-layout: fixed; 
            border-collapse: collapse; 
            border: 1px solid black;  
            font-family: sans-serif;  
        }
        td {
            padding: 20px;    
            border: 1px solid black; 
            vertical-align: middle; 
            text-align: center;     
        }
        .box-one {
            background-color: #C5CC8D; 
            width: 45%;
        }
        .box-two {
            background-color: #F6C7B6;
            width: 55%;
        }